In [3]:
import pandas as pd
import glob

## Exploracion errores en los archivos
* Exploraremos los datos y sus headers, verificando que todos esten bien identificados y que las tablas sean todas rectangulares, sin datos perdidos

In [3]:
headers = ['Codigo', 'Fecha', 'Hora', 'Temperatura', 'Humedad',
           'Direccion de Viento', 'Velocidad de Viento', 'Precipitacion',
           'Radiacion Solar', 'Presion Atmosferica']

def bad_headers(df):
    return any([name not in headers for name in df.columns]) or len(headers) != len(df.columns)

def has_nan(df):
    return df.isnull().any().any()

def find_bad_excels(region, print_all=False):
    counter_bads = 0
    counter = 0
    print("===> ", region)
    for folder in glob.glob("./PAULA/{}/*".format(region)):
        for file in glob.glob(folder + "/*.xls"):
            counter += 1
            try:
                df = pd.read_excel(file)
                if bad_headers(df):
                    print("ERROR.badHeader.", file)
                    print(df.count())
                    counter_bads += 1
                elif has_nan(df):
                    print("ERROR.NaN.", file)
                    print(df.count())
                    counter_bads += 1
                else:
                    if print_all:
                        print("GOOD.{}".format(file))
            except:
                counter_bads += 1
                print("ERROR.file: {}".format(file))
    return counter, counter_bads

In [4]:
counter = 0
counter_bads = 0
for region in glob.glob("./PAULA/*"):
    c, c_b = find_bad_excels(region.split("\\")[-1])
    counter += c
    counter_bads += c_b
print("Total de archivos:", counter)
print("Total de archivos con problemas:", counter_bads)

===>  ARICA Y PARINACOTA
ERROR.file: ./PAULA/ARICA Y PARINACOTA\SOCOROMA\Socoroma. 01-01-09-31-06-2009.xls
ERROR.file: ./PAULA/ARICA Y PARINACOTA\SOCOROMA\Socoroma. 01-07-09 31-12-09.xls
ERROR.file: ./PAULA/ARICA Y PARINACOTA\TRUFA AZAPA MEDIO\TrufaAzapaMedio.01-01-2009-30-06-2009.xls
ERROR.file: ./PAULA/ARICA Y PARINACOTA\TRUFA AZAPA MEDIO\TrufaAzapaMedio.01-07-2009-31-12-2009.xls
===>  ATACAMA
ERROR.file: ./PAULA/ATACAMA\BODEGA\Bodega01-07-2009-31-12-2009.xls
ERROR.file: ./PAULA/ATACAMA\COPIAPO\Copiapo01-07-2009-31-12-2009.xls
ERROR.file: ./PAULA/ATACAMA\TRANQUE-LAUTARO\Tranquelautaro01-06-2009-30-06-2009.xls
===>  AYSEN DEL GENERAL DEL C.I.CAMPO
===>  COQUIMBO
ERROR.file: ./PAULA/COQUIMBO\CARACHILLA\Carachilla01-01-2009-30-06-2009.xls
ERROR.file: ./PAULA/COQUIMBO\ILLAPEL\Illapel01-01-2009-30-06-2009.xls
===>  DE LA ARAUCANIA
ERROR.NaN. ./PAULA/DE LA ARAUCANIA\CUNCO\Cunco-01-07-2009-31-12-2009.xls
Codigo                 17363
Fecha                  17363
Hora                   17363
Temperatura            17363
Humedad                17363
Direccion de Viento    17362
Velocidad de Viento    17363
Precipitacion          17363
Radiacion Solar        17363
Presion Atmosferica    17363
dtype: int64
ERROR.NaN. ./PAULA/DE LA ARAUCANIA\FREIRE\Freire-01-01-2009-30-06-2010.xls
Codigo                 7310
Fecha                  7310
Hora                   7310
Temperatura            7310
Humedad                7310
Direccion de Viento    7305
Velocidad de Viento    7310
Precipitacion          7310
Radiacion Solar        7310
Presion Atmosferica    7310
dtype: int64
===>  DE LOS LAGOS
ERROR.NaN. ./PAULA/DE LOS LAGOS\FRUTILLAR\Frutillar-01-01-2009-30-06-2009.xls
Codigo                 11770
Fecha                  11770
Hora                   11770
Temperatura            11770
Humedad                11770
Direccion de Viento    11520
Velocidad de Viento    11770
Precipitacion          11770
Radiacion Solar        11770
Presion Atmosferica    11770
dtype: int64
===>  DE LOS RIOS
===>  DE MALLANES Y LA ANTARTIDA
===>  DEL BIO BIO
===>  DEL LIBERTADOR BERNARDO OHIGGINS
ERROR.NaN. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\CODEGUA NORTE\Codeguanorte-01-06-2009-30-06-2009.xls
Codigo                 11768
Fecha                  11768
Hora                   11768
Temperatura            11768
Humedad                11768
Direccion de Viento     9800
Velocidad de Viento    11768
Precipitacion          11768
Radiacion Solar        11768
Presion Atmosferica    11768
dtype: int64
ERROR.NaN. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\CODEGUA NORTE\Codeguanorte-01-07-2009-30-06-2009.xls
Codigo                 17393
Fecha                  17393
Hora                   17393
Temperatura            17393
Humedad                17393
Direccion de Viento    16601
Velocidad de Viento    17393
Precipitacion          17393
Radiacion Solar        17393
Presion Atmosferica    17393
dtype: int64
ERROR.file: ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\CONTAUCO\Contauco-01-01-2009-30-06-2009.xls
ERROR.NaN. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\LOLOL\Lolol-01-01 2009 -30-06-2009.xls
Codigo                 1245
Fecha                  1245
Hora                   1245
Temperatura            1245
Humedad                1245
Direccion de Viento    1210
Velocidad de Viento    1245
Precipitacion          1245
Radiacion Solar        1245
Presion Atmosferica    1245
dtype: int64
ERROR.badHeader. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\MALLOA\Malloa-01-01 2010 -30-06-2010.xls
ahh                    17255
Fecha                  17255
Hora                   17255
Temperatura            17255
Humedad                17255
Direccion de Viento    17255
Velocidad de Viento    17255
Precipitacion          17255
Radiacion Solar        17255
Presion Atmosferica    17255
dtype: int64
ERROR.NaN. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\REQUINOA\REQUINOA-01-01-2009-30-06-2009.xls
Codigo                 13689
Fecha                  13689
Hora                   13689
Temperatura            13689
Humedad                13689
Direccion de Viento    13114
Velocidad de Viento    13689
Precipitacion          13689
Radiacion Solar        13689
Presion Atmosferica    13689
dtype: int64
ERROR.NaN. ./PAULA/DEL LIBERTADOR BERNARDO OHIGGINS\REQUINOA\REQUINOA-01-07-2009-31-12-2009.xls
Codigo                 13689
Fecha                  13689
Hora                   13689
Temperatura            13689
Humedad                13689
Direccion de Viento    13114
Velocidad de Viento    13689
Precipitacion          13689
Radiacion Solar        13689
Presion Atmosferica    13689
dtype: int64
===>  DEL MAULE
ERROR.badHeader. ./PAULA/DEL MAULE\LONTUE\Lontue.01-01-2009-30-06-2009.xls
                       12132
Fecha                  12132
Hora                   12132
Temperatura            12132
Humedad                12132
Direccion de Viento    12132
Velocidad de Viento    12132
Precipitacion          12132
Radiacion Solar        12132
Presion Atmosferica    12132
dtype: int64
ERROR.badHeader. ./PAULA/DEL MAULE\PENCAHUE\Pencahue-01-01-2010-30-06-2010.xls
Codigo                 16197
Fecha                  16197
Hora                   16197
Temperatura            16197
Humedad                16197
Direccion de Viento    16197
Velocidad de Viento    16197
Precipitacion          16197
Radiacion Solar        16197
Presion Atmosferica    16197
Unnamed: 10              192
Unnamed: 11                2
Unnamed: 12                2
dtype: int64
ERROR.NaN. ./PAULA/DEL MAULE\SAN JAVIER\Sanjavier-01-01-2009-30-06-2009.xls
Codigo                 11303
Fecha                  11303
Hora                   11303
Temperatura            11303
Humedad                11303
Direccion de Viento    10025
Velocidad de Viento    11303
Precipitacion          11303
Radiacion Solar        11303
Presion Atmosferica    11303
dtype: int64
===>  FDF semestre 2 2010
===>  METROPOLITANA
ERROR.file: ./PAULA/METROPOLITANA\ALHUE\Alhue-01-01-2009-30-06-2009.xls
ERROR.NaN. ./PAULA/METROPOLITANA\CALERA DE TANGO\Caleradetango-01-01-2009-30-06-2009.xls
Codigo                 12322
Fecha                  12322
Hora                   12322
Temperatura            12322
Humedad                12322
Direccion de Viento     9782
Velocidad de Viento    12322
Precipitacion          12322
Radiacion Solar        12322
Presion Atmosferica    12322
dtype: int64
ERROR.NaN. ./PAULA/METROPOLITANA\CURACAVI\Curacavi-01-01-2009-30-06-2009.xls
Codigo                 13078
Fecha                  13078
Hora                   13078
Temperatura            13078
Humedad                13078
Direccion de Viento    12927
Velocidad de Viento    13078
Precipitacion          13078
Radiacion Solar        13078
Presion Atmosferica    13078
dtype: int64
ERROR.NaN. ./PAULA/METROPOLITANA\TILTIL\Tiltil-01-01-2009-30-06-2009.xls
Codigo                 8313
Fecha                  8313
Hora                   8313
Temperatura            8313
Humedad                8313
Direccion de Viento    7601
Velocidad de Viento    8313
Precipitacion          8313
Radiacion Solar        8313
Presion Atmosferica    8313
dtype: int64
===>  VALPARAISO
ERROR.file: ./PAULA/VALPARAISO\CABILDO\Cabildo01-01-2009-30-06-2009.xls
ERROR.NaN. ./PAULA/VALPARAISO\HIJUELAS\Hijuelas10-01-2009-30-06-2009.xls
Codigo                 8102
Fecha                  8102
Hora                   8102
Temperatura            8102
Humedad                8102
Direccion de Viento    7597
Velocidad de Viento    8102
Precipitacion          8102
Radiacion Solar        8102
Presion Atmosferica    8102
dtype: int64
ERROR.file: ./PAULA/VALPARAISO\LA CRUZ\Lacruz-01-01-2009-30-06-2009.xls
ERROR.file: ./PAULA/VALPARAISO\LLAY-LLAY\Llayllay-01-01-2009-30-06-2009.xls
ERROR.NaN. ./PAULA/VALPARAISO\LOS ANDES\Losandes-01-01-2009-30-06-2009.xls
Codigo                 11620
Fecha                  11620
Hora                   11620
Temperatura            11620
Humedad                11620
Direccion de Viento    11617
Velocidad de Viento    11620
Precipitacion          11620
Radiacion Solar        11620
Presion Atmosferica    11620
dtype: int64
ERROR.badHeader. ./PAULA/VALPARAISO\PETORCA\Petorca-01-07-2009-31-12-2009.xls
Codigo                 17660
Fecha                  17660
Hora                   17660
Temperatura            17660
Humedad                17660
Direccion de Viento    17660
Velocidad de Viento    17660
Precipitacion          17660
Radiacion Solar        17660
Presion Atmosferica    17660
Unnamed: 10                0
Unnamed: 11                0
Unnamed: 12                1
dtype: int64

Total de archivos: 509
Total de archivos con problemas: 32

### Posibles correcciones
* Para las tablas con malos headers basta con renombrarlos y como son pocos esto se puede realizar manual
* Para las tablas con NaN, tenemos 2 opciones:
    * OPCION 1: borrar la fila especifica que contiene el dato NaN, esto puede causar series de tiempo irregulares
    * OPCION 2: interpolar el dato perdido (lo mas facil seria una interponacion lineal entre el dato anterior y el siguiente, si es el ultimo borrarlo)

##### por ahora es recomendable evitar estos excels para que realicen sus exploraciones

In [7]:
df = pd.read_excel("./PAULA/VALPARAISO/PETORCA/Petorca-01-07-2009-31-12-2009.xls")
df.head()

,Codigo,Fecha,Hora,Temperatura,Humedad,Direccion de Viento,Velocidad de Viento,Precipitacion,Radiacion Solar,Presion Atmosferica,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,320025,2009-07-01,00:00:00,8.5,96.1,219,0.2,0.0,1,993.5,NaN,NaN,NaN
1,320025,2009-07-01,00:15:00,8.5,96.3,237,0.4,0.0,1,993.8,NaN,NaN,NaN
2,320025,2009-07-01,00:30:00,8.5,96.5,21,0.4,0.0,1,993.6,NaN,NaN,NaN
3,320025,2009-07-01,00:45:00,8.3,96.5,102,0.2,0.0,1,993.6,NaN,NaN,NaN
4,320025,2009-07-01,01:00:00,8.2,96.6,108,0.2,0.0,1,993.5,NaN,NaN,NaN

In [9]:
df = pd.read_excel("./PAULA/DE LA ARAUCANIA/CUNCO/Cunco-01-07-2009-31-12-2009.xls")
df.count()

Codigo                 17363
Fecha                  17363
Hora                   17363
Temperatura            17363
Humedad                17363
Direccion de Viento    17362
Velocidad de Viento    17363
Precipitacion          17363
Radiacion Solar        17363
Presion Atmosferica    17363
dtype: int64

In [15]:
df[df.isnull().any(axis=1)]

,Codigo,Fecha,Hora,Temperatura,Humedad,Direccion de Viento,Velocidad de Viento,Precipitacion,Radiacion Solar,Presion Atmosferica
1193,380090,2009-07-13,10:15:00,2.3,99,NaN,0.5,8.3,216,1031.7

In [19]:
df.iloc[1191:1196]

,Codigo,Fecha,Hora,Temperatura,Humedad,Direccion de Viento,Velocidad de Viento,Precipitacion,Radiacion Solar,Presion Atmosferica
1191,380090,2009-07-13,09:45:00,0.8,97,2.25,0.5,0.2,163,1031.2
1192,380090,2009-07-13,10:00:00,1.4,97,2.25,0.5,19.8,188,1031.7
1193,380090,2009-07-13,10:15:00,2.3,99,NaN,0.5,8.3,216,1031.7
1194,380090,2009-07-13,10:30:00,3.6,98,9.00,0.5,6.8,248,1031.7
1195,380090,2009-07-13,10:45:00,4.6,96,20.25,0.9,5.8,275,1031.8